@use "../../index.scss" as *;

.navbar{
    position: fixed;
    z-index: 100;
    transition: ease .5s;
    white-space: nowrap;
    *{
        color: lightgray;
    }
    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 2rem;
    }
    button{
        padding: $buttonPadding;
        svg{
            font-size: $buttonSvgSize;
        }
    }
}
.nav_ul{
    width: fit-content;
    height: 100vh;
    min-height: -webkit-fill-available;
    background: $color1;
    transition: ease .5s;

}

.navbar_li{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2rem;
    position: relative;
    &:hover{
        background: rgba(white, .1);
        *{
            color: white;
        }
        .toolTip{
            left: $sidebarSize;
            opacity: 1;
            color: $color1;

        }
    }
    
}

.navbar_li_text{
    flex-direction: row;
    align-items: center;
    padding-block: $buttonPadding;
    transition: ease .5s;
    width: 0;
    overflow: hidden;
    display: flex;
    p{
        transition: ease .5s;
        opacity: 0;
    }
}
.showText{
    width: fit-content;

    p{
        opacity: 1;
    }
    .navbar_li_text{
        width: $navbar_li_width;
    }
    .toolTip{
        display: none;
    }
}
.navbar_user{
    .navbar_li_text{
        position: relative;
        button{
            position: absolute;
            right: 0;
            z-index: 100;
        }
    }
    img{
        width: $buttonSvgSize;
        height: auto;
        border-radius: 50%;
    }
}
.toolTip{
    background: white;
    transition: all ease .2s;
    box-shadow: $boxShadowParams;
    position: absolute;
    color: $color1;
    padding: .5rem;
    border-radius: .5rem;
    left: -100%;
    opacity: 0;
    z-index: -5;
    display: flex;
}
.nav_topbar{
width: $sidebarSize;
    background: $color1;
    transition: ease .5s;
    display: flex;
    .navbar_li_text{
        color: white;
    }
    button{
        color: lightgray;
    }
    &:hover{
        button{
            color: white;
        }
    }
}

    .nav_topbar{
        width: fit-content;
        button{
            color:lightgray;
        }
    }
    

// }
@media screen and (max-width: $mediaThreshold){
    .navbar{
        height: $sidebarSize;
        width: 100vw;

        background: transparent;
    }


    
    .nav_ul{
        left: -$sidebarFullSize;
        display: flex;
        flex-direction: column;
        background: $color1;
        width: fit-content;
        position: relative;
        
    }
    .nav_topbar{
        color:white;
    }
    .showText{
        .nav_ul{
            left: 0;
        }
        
    }
    .nav_topbar{
        width: 100vw;
        background: $color1;
        display: flex;

    }
}

