@use "../../index.scss" as *;
.updateName{
    background: white;
    padding: 1rem;
    border-radius: .5rem;
    input{
        margin-top: 1rem;
        border: none;
        outline: none;
        border-bottom: 1px solid $color1;
        padding: .3rem;
    }

}
.updateNameButtons{
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    button{
        cursor: pointer;
        border: none;
        padding: .5rem;
        border-radius: 5rem;
        background: $color1;
        color: white;
        margin-inline: .1rem;
        &:hover{
            transform: scale(1.05);
        }
    }
}